
<nav class = "navbar navbar-default" role = "navigation">
	<div class= "container">
		<ul class = "nav navbar-nav navbar-right">
			
			<li><a href = "/gallery/posts">Sign up</a></li>
			<li><a href = "/smoothie/mix">Login</a></li>
			
		</ul>
	</div>
</nav>

<div class = "container">
	<div class = "row">
		<div class = "col-md-4 text-center">
			<h4 style="text-center">NEURAME INDEX</h4>
			<h1 style="neurame1-title"><a class = "neurame-title-link" href = "/gallery/posts">Art</a></h4>
			<h1 style="neurame1-title"><a class = "neurame-title-link" href = "/smoothie/mix">Smoothie</a></h4>
		</div>
	</div>
</div>

