<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading">Login page</h3>

      <form action="/users/login_complete" method="post">
        <p><input class="form-input" type="text" name="username" placeholder="Your ID"></p>
        <p><input class="form-input" type="password" name="password" placeholder="Your Password"></p>
        <input class="btn btn-lg btn-block" type="submit" value="Login">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
