<p><%= flash[:alert] %></p>
<h2>로그인하기</h2>

<form action="/users/login_complete" method="post">
  <p>ID: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="로그인">
</form>
