<p><%= flash[:alert] %></p>
<h2>Sign up</h2>

<form action="/users/signup_complete" method="post">
  <p>ID: <input type="text" name="username"></p>
  <p>E-mail : <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <p>Confirm password: <input type="password" name="retype_password"></p>
  <input type="submit" value="Submit">
</form>
