<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading">Sign up</h3>

		<form action="/users/signup_complete" method="post">
			<p><input class="form-input" type="text" name="ID" placeholder="ID"></p>
			<p><input class="form-input" type= "text" name = "Email" placeholder = "Email"></p>
			<p><input class="form-input" type="password" name="password" placeholder="Password"></p>
			<p><input class="form-input" type="password" name="retype_password" placeholder="Confirm password"></p>
        <input class="btn btn-lg btn-block" type="submit" value="Signup">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
