<div class="container">
	<div class="panel panel-default">
		<div class= "panel-heading">
			<h3 class="panel-title"> <%=@category%> List </h3>
		</div>
	</div>

	<%= render :partial => "gallery/posts" %>
</div>
