 <%= render :partial => "layouts/header" %>

<div class = "container">
	<% if !flash[:alert].nil? %>
	<div class= "alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>

	<div class = "row">
		<div class = "col-md-4">
		</div>
		<div class = "col-md-4 text-center">

			<h2 class = "form-heading">그림 추가하기</h2>

			<form action="/gallery/write_complete" method="post" enctype="multipart/form-data">
				<p>+ 분류
				<select name="post_category">
				<option value="Charged">Charged</option>
				<option value="Free">Free</option>    
				</select></p>

				<p><input class = "form-input" type="text" name="post_title" placeholder="제목을 입력하세요."></p>
				<p><textarea class = "form-textarea" name="post_content" placeholder="내용을 입력하세요."></textarea></p>
				<p>+ 사진 업로드</p>
				<p><input type="file" name="image"></p>
				<input class = "btn btn-lg btn-block" type="submit" value="추가하기">
			</form>
		</div>
		<div class = "col-md-4">
		</div>
	</div>
</div>
