/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .neurame1-title{
	height: 120px;
	padding: 50px 0px 0px 0px;
	text-align: center;
 }

 a.neurame1-title-link{
	color: #a3293d;
 }

 a.neurame1-title-link:hover {
	color: #ee3b53;
	text-decoration: none;
 }


 .form-heading {
  margin: 35px 0px 20px 0px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1.5px solid #cccccc;
  border-radius: 6px;
  padding: 0px 0px 0px 10px;
}

.form-textarea {
  width: 100%;
  height: 100px;
  border: 1.5px solid #cccccc;
  border-radius: 6px;
  padding: 10px 0px 0px 10px;
}

