<h3><a  href="/">Neurame Gallery</a> | <a href="/Charged">Charged</a> | <a href="/Free">Free </a> | <a href="/gallery/write">Write</a> || <a href = "users/signup">Sign up</a> | <a href ="/users/login">로그인</a></h3> 
